# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [1]:
import numpy as np

def moving_average(n, k):
    # using np.cumsum, the cumulative sum of all the numbers in the list
    cum_sum = np.cumsum(n, dtype=float)
    cum_sum[k:] = cum_sum[k:] - cum_sum[:-k]
    return np.array(cum_sum[k-1:] / k).round(2)

In [2]:
a = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]

In [3]:
moving_average(a, 3)

array([  5.  ,   4.67,   5.67,   6.67,   9.67,  28.67,  49.33,  72.67,
        84.  ,  93.33, 116.33])

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [4]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

s = pd.Series([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])

(s.groupby(s.eq(0).cumsum().mask(s.eq(0))).cumcount() + 1).mask(s.eq(0), 0).tolist()

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

In [5]:
# simple solution without considering Dataframe

def count_distance(l):
    result = []
    n = 0
    for i in l:
        if i != 0:
            n += 1
            result.append(n)
        else:
            n = 0
            result.append(n)
    return result

In [6]:
l = [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]

count_distance([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [7]:
date_index = pd.date_range(start='2015-01-01', end='2015-12-31') 

df = pd.DataFrame(np.random.rand(len(date_index)), index=date_index)

In [8]:
date_index

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2015-12-22', '2015-12-23', '2015-12-24', '2015-12-25',
               '2015-12-26', '2015-12-27', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [9]:
df.head(10)

                   0
2015-01-01  0.629723
2015-01-02  0.652948
2015-01-03  0.781861
2015-01-04  0.610073
2015-01-05  0.611370
2015-01-06  0.383975
2015-01-07  0.283314
2015-01-08  0.572008
2015-01-09  0.171960
2015-01-10  0.892156

Q.4